Repository auto-mat/ride-to-work-by-bike-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-path .gitignore --write

src/components/form: fix comments
  src/components/form/FormFieldListMerch.vue
Due: eslint --fix, prettier --ignore-path .gitignore --write

.github/workflows: fix GitHub actions run tests event on pull request permission
  .github/workflows/run_tests.yaml
Due: none

Update NVM installation URL version
  README.md
Due: prettier --ignore-path .gitignore --write

Update Node.JS LTS v22 Jod version
  README.md
Due: prettier --ignore-path .gitignore --write

add age group and occupation fields to profile page
  src/adapters/registerChallengeAdapter.ts
  src/components/__tests__/FormUpdateAgeGroup.cy.js
  src/components/__tests__/FormUpdateOccupation.cy.js
  src/components/form/FormUpdateAgeGroup.vue
  src/components/form/FormUpdateOccupation.vue
  src/components/profile/ProfileDetails.vue
  src/i18n/cs.toml
  src/i18n/en.toml
  src/i18n/sk.toml
  src/stores/registerChallenge.ts
  test/cypress/e2e/profile.spec.cy.js
  test/cypress/fixtures/apiGetRegisterChallengeProfileUpdatedAgeGroup.json
  test/cypress/fixtures/apiGetRegisterChallengeProfileUpdatedOccupation.json
Due: eslint --fix, prettier --ignore-path .gitignore --write

use fixture values for more robust tests
  src/components/__tests__/FormUpdateAgeGroup.cy.js
  src/components/__tests__/FormUpdateOccupation.cy.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

remove unintentional change
  src/components/profile/ProfileDetails.vue
Due: eslint --fix, prettier --ignore-path .gitignore --write

fix tests
  src/components/__tests__/FormUpdateAgeGroup.cy.js
  src/components/__tests__/FormUpdateOccupation.cy.js
  test/cypress/e2e/profile.spec.cy.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

fix object init and store persistency
  src/components/form/FormUpdateAgeGroup.vue
  src/components/form/FormUpdateOccupation.vue
  src/components/profile/ProfileDetails.vue
  src/stores/registerChallenge.ts
Due: eslint --fix, prettier --ignore-path .gitignore --write

src/components/__tests__: replace Cy assertation 'have.been.CalledOnce' with 'have.been.CalledOnceWith'
  src/components/__tests__/FormUpdateAgeGroup.cy.js
  src/components/__tests__/FormUpdateOccupation.cy.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

src/components/form: use onCloseDialog() func
  src/components/form/FormUpdateAgeGroup.vue
  src/components/form/FormUpdateOccupation.vue
Due: eslint --fix, prettier --ignore-path .gitignore --write

src/components/coordinator: fix getting organization coordinator tasks TOML files string literal syntax
  src/components/coordinator/TaskListCoordinator.vue
Due: eslint --fix, prettier --ignore-path .gitignore --write

Revert "Update dependency cypress to v15.20.1 (#1578)"
  yarn.lock
Due: none

add dynamic value for benefitial admission fee
  src/components/__tests__/FormCreateInvoice.cy.js
  src/components/form/FormCreateInvoice.vue
  src/components/types/Challenge.ts
  src/i18n/cs.toml
  src/i18n/en.toml
  src/i18n/sk.toml
  src/stores/challenge.ts
Due: eslint --fix, prettier --ignore-path .gitignore --write

src/stores: fix getting beneficial admission fee company value
  src/stores/challenge.ts
Due: eslint --fix, prettier --ignore-path .gitignore --write

src/i18n: fix translation texts
  ride_to_work_by_bike_config.toml
  src/components/form/FormFieldListMerch.vue
  src/i18n/cs.toml
  src/i18n/en.toml
  src/i18n/sk.toml
Due: eslint --fix, prettier --ignore-path .gitignore --write

add diplomas to main menu + remove from profile details
  public/icons/drawer_menu/icons.svg
  src/adapters/registerChallengeAdapter.ts
  src/components/__tests__/DiplomasList.cy.js
  src/components/__tests__/ProfileDetails.cy.js
  src/components/diplomas/DiplomasList.vue
  src/components/profile/ProfileDetails.vue
  src/components/types/ApiRegistration.ts
  src/composables/useMenu.ts
  src/i18n/cs.toml
  src/i18n/en.toml
  src/i18n/sk.toml
  src/pages/DiplomasPage.vue
  src/router/routes.ts
  src/router/routes_conf.ts
  src/stores/registerChallenge.ts
  src/utils/get_route_groups.ts
  test/cypress/e2e/diplomas.spec.cy.js
  test/cypress/fixtures/apiGetRegisterChallengeProfile.json
Due: eslint --fix, prettier --ignore-path .gitignore --write

fix api response structure
  src/adapters/registerChallengeAdapter.ts
  src/components/__tests__/DiplomasList.cy.js
  src/components/types/ApiRegistration.ts
  test/cypress/e2e/diplomas.spec.cy.js
  test/cypress/fixtures/apiGetRegisterChallengeProfile.json
Due: eslint --fix, prettier --ignore-path .gitignore --write

add id key to diploma objects
  src/components/diplomas/DiplomasList.vue
  src/components/types/ApiRegistration.ts
  test/cypress/fixtures/apiGetRegisterChallengeProfile.json
Due: eslint --fix, prettier --ignore-path .gitignore --write

refactor component test selectors
  src/components/__tests__/DiplomasList.cy.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

src/components/form: make occupation field not required
  src/components/form/FormPersonalDetails.vue
Due: eslint --fix, prettier --ignore-path .gitignore --write

update translations for September challenge
  src/i18n/cs.toml
  src/i18n/en.toml
  src/i18n/sk.toml
Due: none

add core invitation feature
  ride_to_work_by_bike_config.toml
  src/components/types/ApiInvitation.ts
  src/components/types/Config.ts
  src/composables/useApiPostValidateTeamMembershipInvitationEmail.ts
  src/composables/useInvitationToken.ts
  src/i18n/cs.toml
  src/i18n/en.toml
  src/i18n/sk.toml
  src/pages/RegisterChallengePage.vue
  src/router/index.ts
  test/cypress/e2e/register_challenge_invitation.spec.cy.js
  test/cypress/fixtures/apiPostValidateTeamMembershipInvitationEmailErrorResponse.json
  test/cypress/fixtures/apiPostValidateTeamMembershipInvitationEmailRequest.json
  test/cypress/fixtures/apiPostValidateTeamMembershipInvitationEmailResponse.json
  test/cypress/support/commands.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

implement invitation pre-fill with hierarchical validation
  src/components/register/RegisterChallengePayment.vue
  src/composables/useInvitationPrefill.ts
  src/composables/useInvitationToken.ts
  src/pages/RegisterChallengePage.vue
  src/stores/registerChallenge.ts
  src/utils/get_register_challenge_empty_state.ts
  test/cypress/e2e/register_challenge_invitation.spec.cy.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

update prefill method for voucher payment case
  src/composables/useInvitationPrefill.ts
  test/cypress/e2e/register_challenge_invitation.spec.cy.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

add invitation data prefill methods and test
  src/components/global/FormFieldCompany.vue
  src/components/register/RegisterChallengePayment.vue
  src/components/types/ApiInvitation.ts
  src/composables/useInvitationPrefill.ts
  src/composables/useInvitationToken.ts
  src/pages/RegisterChallengePage.vue
  src/stores/registerChallenge.ts
  test/cypress/e2e/register_challenge_invitation.spec.cy.js
  test/cypress/fixtures/apiPostValidateTeamMembershipInvitationEmailResponse.json
Due: eslint --fix, prettier --ignore-path .gitignore --write

add user-selected value persistency tests
  test/cypress/e2e/register_challenge_invitation.spec.cy.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

add test for individual payment + fix
  src/adapters/registerChallengeAdapter.ts
  src/components/form/FormFieldOptionGroup.vue
  test/cypress/e2e/register_challenge.spec.cy.js
  test/cypress/e2e/register_challenge_invitation.spec.cy.js
  test/cypress/fixtures/apiGetRegisterChallengeIndividualPaidNoTeam.json
Due: eslint --fix, prettier --ignore-path .gitignore --write

overwrite with invitation values when step first visited
  src/components/enums/RegisterChallenge.ts
  src/components/types/RegisterChallenge.ts
  src/composables/useInvitationPrefill.ts
  src/pages/RegisterChallengePage.vue
  src/stores/registerChallenge.ts
  test/cypress/e2e/register_challenge_invitation.spec.cy.js
  test/cypress/fixtures/apiGetRegisterChallengeExistingOrgSubTeam.json
Due: eslint --fix, prettier --ignore-path .gitignore --write

update formatting and fix redirect issue
  src/composables/useInvitationPrefill.ts
  src/composables/useInvitationToken.ts
  src/stores/login.ts
Due: eslint --fix, prettier --ignore-path .gitignore --write

add translation strings
  src/i18n/cs.toml
  src/i18n/en.toml
  src/i18n/sk.toml
Due: none

update test to fix API call succession
  src/composables/useInvitationPrefill.ts
  src/composables/useInvitationToken.ts
  src/stores/registerChallenge.ts
  test/cypress/e2e/register_challenge_invitation.spec.cy.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

comments fixes + cleanup
  src/adapters/registerChallengeAdapter.ts
  src/components/global/FormFieldCompany.vue
  src/components/register/RegisterChallengePayment.vue
  src/composables/useInvitationPrefill.ts
  test/cypress/fixtures/apiGetRegisterChallengeIndividualPaidNoTeam.json
Due: eslint --fix, prettier --ignore-path .gitignore --write

update comment
  src/composables/useInvitationToken.ts
Due: eslint --fix, prettier --ignore-path .gitignore --write

remove unused reset function
  src/stores/registerChallenge.ts
Due: eslint --fix, prettier --ignore-path .gitignore --write

use alt method of testing step3 values
  src/components/form/FormFieldOptionGroup.vue
  test/cypress/e2e/register_challenge.spec.cy.js
  test/cypress/e2e/register_challenge_invitation.spec.cy.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

src/data/coordinator_tasks: fix September challenge organization coordinator tasks list
  src/data/coordinator_tasks/cs.toml
  src/data/coordinator_tasks/en.toml
  src/data/coordinator_tasks/sk.toml
Due: none

src/data/coordinator_tasks: add May 2026 organization coordinator tasks list templates
  src/data/coordinator_tasks/templates/may_2026_challenge/cs.toml
  src/data/coordinator_tasks/templates/may_2026_challenge/en.toml
  src/data/coordinator_tasks/templates/may_2026_challenge/sk.toml
Due: none

src/i18n: fix translatation texts typos
  src/i18n/cs.toml
  src/i18n/en.toml
  src/i18n/sk.toml
Due: none

Fix debug message text
  src/components/global/FormFieldCompany.vue
  src/composables/useInvitationPrefill.ts
Due: eslint --fix, prettier --ignore-path .gitignore --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  prettier --ignore-path .gitignore --write: (any of: *.{js,ts,vue}) or (any of: *.{scss,html,md,json})
