Repository auto-mat/ride-to-work-by-bike-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --ignore-path .gitignore --write

.lintstagedrc:

{
  "*.{js,ts,vue}": ["eslint --fix", "prettier --ignore-path .gitignore --write"],
  "*.{scss,html,md,json}": ["prettier --ignore-path .gitignore --write"]
}

company challenge
  src/i18n/cs.toml
  src/i18n/en.toml
  src/i18n/sk.toml
Due: none

update login layout imgae
  public/image/login-register-layout-2025.webp
  public/image/login-register-layout.webp
Due: none

add coordinator registration link component
  src/components/__tests__/CoordinatorRegistrationLink.cy.js
  src/components/coordinator/CoordinatorRegistrationLink.vue
  src/i18n/cs.toml
  src/i18n/en.toml
  src/i18n/sk.toml
  src/pages/CompanyCoordinatorPage.vue
  src/pages/ProfilePage.vue
  test/cypress/support/commands.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

remove registration link from coordinator page
  src/pages/CompanyCoordinatorPage.vue
Due: eslint --fix, prettier --ignore-path .gitignore --write

add e2e test
  test/cypress/e2e/profile_coordinator.spec.cy.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

update comment
  src/components/coordinator/CoordinatorRegistrationLink.vue
Due: eslint --fix, prettier --ignore-path .gitignore --write

update comment
  src/pages/ProfilePage.vue
Due: eslint --fix, prettier --ignore-path .gitignore --write

draft list challenges component
  src/components/__tests__/ListChallenges.cy.js
  src/components/global/ListChallenges.vue
  src/pages/IndexPage.vue
Due: eslint --fix, prettier --ignore-path .gitignore --write

update ListChallenges docs
  src/components/global/ListChallenges.vue
Due: eslint --fix, prettier --ignore-path .gitignore --write

add ListChallenges component test
  src/components/__tests__/ListChallenges.cy.js
  src/components/global/ListChallenges.vue
  src/i18n/cs.toml
  src/i18n/en.toml
  src/i18n/sk.toml
  test/cypress/fixtures/apiGetCompetitionResponseEmpty.json
  test/cypress/fixtures/apiGetCompetitionResponsePopulated.json
  test/cypress/support/commands.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

add e2e tests
  src/components/__tests__/ListChallenges.cy.js
  src/pages/IndexPage.vue
  test/cypress/e2e/home.spec.cy.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

update empty state style to match others
  src/components/global/ListChallenges.vue
Due: eslint --fix, prettier --ignore-path .gitignore --write

add date updated to table attendance
  src/components/coordinator/TableAttendance.vue
  src/components/types/AdminOrganisation.ts
  src/components/types/Table.ts
  src/composables/useExportTableAttendance.ts
  src/composables/useTable.ts
  src/composables/useTableAttendanceData.ts
  src/i18n/cs.toml
  src/i18n/en.toml
  src/i18n/sk.toml
Due: eslint --fix, prettier --ignore-path .gitignore --write

update organization structure fixtures
  src/components/__tests__/TableAttendance.cy.js
  test/cypress/fixtures/apiGetAdminOrganisationResponse.json
  test/cypress/fixtures/apiGetAdminOrganisationResponseAlt.json
  test/cypress/fixtures/apiGetAdminOrganisationResponseAltApprovalThreeChangedRewards.json
  test/cypress/fixtures/apiGetAdminOrganisationResponseApprovalNoReward.json
  test/cypress/fixtures/apiGetAdminOrganisationResponseApprovalOneChangedReward.json
  test/cypress/fixtures/apiGetAdminOrganisationResponseApprovalTwoChangedRewards.json
  test/cypress/fixtures/apiGetAdminOrganisationResponseDisapprovalNoReward.json
  test/cypress/fixtures/apiGetAdminOrganisationResponseEditedTeam.json
  test/cypress/fixtures/apiGetAdminOrganisationResponseMovedMember.json
  test/cypress/fixtures/apiGetAdminOrganisationResponseNewTeam.json
  test/cypress/fixtures/apiGetAdminOrganisationResponseOlderPrice.json
  test/cypress/fixtures/apiGetAdminOrganisationResponseOneApprovedMember.json
  test/cypress/fixtures/apiGetAdminOrganisationResponseOneDisapprovedMember.json
  test/cypress/fixtures/apiGetAdminOrganisationResponseTwoApprovedMembers.json
  test/cypress/fixtures/apiGetAdminOrganisationResponseTwoDisapprovedMembers.json
  test/cypress/fixtures/apiGetAdminOrganisationResponseUpdatedBoxAddressee.json
  test/cypress/fixtures/apiGetAdminOrganisationResponseUpdatedSubsidiary.json
  test/cypress/fixtures/headerOrganizationTestData.json
  test/cypress/fixtures/tableAttendanceTestData.json
Due: eslint --fix, prettier --ignore-path .gitignore --write

update translations
  src/i18n/cs.toml
  src/i18n/en.toml
  src/i18n/sk.toml
Due: none

add fix for saved voucher removal
  src/stores/registerChallenge.ts
  test/cypress/e2e/register_challenge_payment.spec.cy.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

add fix for no-reward voucher on reload
  quasar.config.js
  src/stores/registerChallenge.ts
Due: eslint --fix, prettier --ignore-path .gitignore --write

add test
  quasar.config.js
  src/stores/registerChallenge.ts
  test/cypress/e2e/register_challenge_payment.spec.cy.js
  test/cypress/fixtures/apiGetRegisterChallengeVoucherFullWithoutReward.json
Due: eslint --fix, prettier --ignore-path .gitignore --write

add e2e test
  test/cypress/e2e/company_coordinator_fee_approval.cy.js
  test/cypress/fixtures/apiGetAdminOrganisationResponseAlt2.json
Due: eslint --fix, prettier --ignore-path .gitignore --write

update the way the local store resets when approving payments
  src/stores/adminOrganisation.ts
Due: eslint --fix, prettier --ignore-path .gitignore --write

move state-clearing logic to end of disapprove function
  src/stores/adminOrganisation.ts
Due: eslint --fix, prettier --ignore-path .gitignore --write

manage local state only for non-approved table and track specific ids
  src/components/coordinator/TableFeeApproval.vue
  src/stores/adminOrganisation.ts
Due: eslint --fix, prettier --ignore-path .gitignore --write

add component tests
  src/components/__tests__/TableFeeApproval.cy.js
  src/components/coordinator/TableFeeApproval.vue
  test/cypress/fixtures/apiGetAdminOrganisationResponsePartialApproval.json
  test/cypress/fixtures/apiGetAdminOrganisationResponsePartialDisapproval.json
Due: eslint --fix, prettier --ignore-path .gitignore --write

update v-if conditions for better readabilithy
  src/components/coordinator/TableFeeApproval.vue
Due: eslint --fix, prettier --ignore-path .gitignore --write

simplify test
  src/components/__tests__/TableFeeApproval.cy.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

add component tests
  src/components/__tests__/TabCoordinatorResults.cy.js
  test/cypress/fixtures/apiGetResultsResponses.json
Due: eslint --fix, prettier --ignore-path .gitignore --write

add ability to load results URL for coordinator page
  ride_to_work_by_bike_config.toml
  src/components/coordinator/TabCoordinatorResults.vue
  src/components/enums/Results.ts
  src/components/types/Config.ts
  src/i18n/cs.toml
  src/i18n/en.toml
  src/i18n/sk.toml
  src/stores/results.ts
Due: eslint --fix, prettier --ignore-path .gitignore --write

fix incorrect types and remove type coersion
  src/components/coordinator/HeaderOrganization.vue
  src/components/types/AdminOrganisation.ts
  src/stores/adminOrganisation.ts
Due: eslint --fix, prettier --ignore-path .gitignore --write

fix e2e test for company coordinator results tab
  test/cypress/e2e/company_coordinator_results.cy.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

src/i18n: fix labelBusinessId trans key value
  src/i18n/sk.toml
Due: none

add sorting of subsidiary tables
  src/components/__tests__/TableAttendance.cy.js
  src/components/coordinator/TableAttendance.vue
  src/composables/useTableAttendanceData.ts
  test/cypress/fixtures/headerOrganizationTestData.json
Due: eslint --fix, prettier --ignore-path .gitignore --write

update text for no-merch banner
  src/i18n/cs.toml
  src/i18n/en.toml
  src/i18n/sk.toml
Due: none

src/boot: enable Matomo Analytics tracking Vue.js lib
  quasar.config.js
  src/boot/matomo.js
Due: eslint --fix, prettier --ignore-path .gitignore --write

Add/install @certible/use-matomo Matomo Analytics Vue.js lib
  package.json
  yarn.lock
Due: prettier --ignore-path .gitignore --write

Add Matomo Analytics server URL global app config ENV
  ride_to_work_by_bike_config.toml
Due: none
